/*********************************************
 * BRANDING
 *********************************************/
.reveal img[alt="DSB Logo"] {
    width:20%;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal h1 {
    color:red;
}

